<div style="font-family: Arial, sans-serif; padding: 0 24px">
  <img
    src="https://s3.ap-northeast-1.amazonaws.com/dev-admin.dev.watermains.net-ap-northeast-1-898969037144/iotubig_logo.png"
    alt="logo" />
  <h2><b>{{header}}</b></h2>
  <p>Hi {{firstName}},</p>
  <p>This is to inform you that your water meter {{meterName}} in {{siteName}} has triggered the alert(s) as of
    {{dateTriggered}}:</p>
  <br />
  {{#each messages}}
  <p><b>{{this}}</b></p>
  <br />
  {{/each}}
  <p>Best regards,<br />IoTubig Team</p>
  <hr />
  &lt;Organization&gt;<br />&lt;Office Address&gt;
  <p>
    You received this email because this email was used to register an IoTubig
    account.
  </p>
</div>