<div style="font-family: Arial, sans-serif; padding: 0 24px">
  <img
    src="https://s3.ap-northeast-1.amazonaws.com/dev-admin.dev.watermains.net-ap-northeast-1-898969037144/assets/assets/images/logo.png"
    alt="logo" />
  <h2><b>{{header}}</b></h2>
  <p>Hi {{firstName}},</p>
  <p>Your reload request with an amount of Php <b>{{amount}}</b> is currently <b>PENDING</b> and waiting for successful payment through its merchant.
  <br />
    Kindly visit and pay your transaction to the merchant's premises and use the given PAYMENT CODE.</p>
  <br />
  <br />
  <p>PAYMENT CODE: <b>{{paymentCode}}</b></p>
  <br />
  <br />
  <p>Note:<i> Credit application to the meter is not in real time and will be
      delayed to the next update window. Please check your IoTubig account in the
      next three hours for your updated balance.</i></p>
  <br />
  <p>For other concerns, please contact your Building Administrator.</p>
  <br />
  <p>Best regards,<br />IoTubig Team</p>
  <hr />
  {{orgName}}
  <p>
    You received this email because this email was used to register an IoTubig
    account.
  </p>
</div>