<div style="font-family: Arial, sans-serif; padding: 0 24px">
  <img
    src="https://s3.ap-northeast-1.amazonaws.com/dev-admin.dev.watermains.net-ap-northeast-1-898969037144/iotubig_logo.png"
    alt="logo" />
  <h2><b>{{header}}</b></h2>
  <p>Hi {{firstName}},</p>
  <p>This is to inform you that your water meter <b>{{meterName}}</b> in {{siteName}}
    has been {{balanceStatus}} with <b>{{amount}}</b> as of {{dateTriggered}}.</p>
  <br />
  <p>Note:<i> Credit application to the meter is not in real time and will be
      delayed to the next update window. Please check your IoTubig account in the
      next three hours for your updated balance.</i></p>
  <br />
  <p>For other concerns, please contact your Administrator.</p>
  <br />
  <p>Best regards,<br />IoTubig Team</p>
  <hr />
  {{orgName}}
  <p>
    You received this email because this email was used to register an IoTubig
    account.
  </p>
</div>