<div style='font-family: Arial, sans-serif; padding: 0 24px'>
  <img
    src='https://s3.ap-northeast-1.amazonaws.com/dev-admin.dev.watermains.net-ap-northeast-1-898969037144/assets/assets/images/logo.png'
    alt='logo'
  />
  <h2><b>{{header}}</b></h2>
  <p>Hi {{adminName}},</p>
  <p>A new account was created with the following details: </p>
  <br />
  New email account detected:
  {{newUserAccount}}
  <br />
  Meter name:
  {{meterName}}
  <br />
  Organization name:
  {{orgName}}
  <br />
  <div style='text-align: center'>
    <p>To confirm, kindly click on the button below to verify account/s.</p>
    <a href="{{redirectUrl}}" target='_blank' style='border: 2px solid #0075e2; margin: 1rem; padding: 1rem; background: #0075e2; color: white;border-radius: 0.5rem;'
    >Verify Email</a>
  </div>
  <p>Best regards,<br />IoTubig Team</p>
  <hr />
  {{orgName}}
  <p>
    You received this email because this email was used to register an IoTubig
    account.
  </p>
</div>